{% extends 'base.html' %}

{% block title %}All courses{% endblock %}

{% block content %}
<div class="d-flex justify-content-end mb-3">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="currencyDropdown" data-bs-toggle="dropdown"
            aria-expanded="false">
            Currency: USD
        </button>
        <ul class="dropdown-menu" aria-labelledby="currencyDropdown">
            <li><a class="dropdown-item active" href="#">USD</a></li>
        </ul>
    </div>
</div>

<table class="table mt-1 table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Price (USD)</th>
            <th>Students Quantity</th>
            <th>Reviews Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>
                <a href={% url "shop:single_course" course.slug %}>{{ course.title }}</a>
            </td>
            <td>{{ course.category }}</td>
            <td>{{ course.price }}</td>
            <td>{{ course.students_qty }}</td>
            <td>{{ course.reviews_qty }}</td>
            <td><button class="btn btn-primary">Buy</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}