{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/filters.css' %}">

<h1>FILTRATION</h1>
<br><br>

<form action="{% url 'shop:index' %}" method="GET">
    <!-- Фильтр по цене -->
    <div class="filter-section">
        <h3>Цена(USD)</h3>
        <p>
            <label for="min_price">Минимальная цена:</label>
            <input type="number" id="min_price" name="min_price" min="0" step="any" placeholder="0"
                value="{{ current_min_price }}">
        </p>
        <p>
            <label for="max_price">Максимальная цена:</label>
            <input type="number" id="max_price" name="max_price" min="0" step="any" placeholder="10000"
                value="{{ current_max_price }}">
        </p>
    </div>

    <!-- Фильтр по популярности/новизне -->
    <div class="filter-section">
        <h3>Сортировка</h3>
        <p>
            {% if current_sort == "popular" %}
            <input type="radio" id="popular" name="sort" value="popular" checked>
            {% else %}
            <input type="radio" id="popular" name="sort" value="popular">
            {% endif %}
            <label for="popular">Популярные</label>
        </p>
        <p>
            {% if current_sort == "new" %}
            <input type="radio" id="new" name="sort" value="new" checked>
            {% else %}
            <input type="radio" id="new" name="sort" value="new">
            {% endif %}
            <label for="new">Новые</label>
        </p>
        <p>
            {% if current_sort == "reviews" %}
            <input type="radio" id="reviews" name="sort" value="reviews" checked>
            {% else %}
            <input type="radio" id="reviews" name="sort" value="reviews">
            {% endif %}
            <label for="reviews">По количеству отзывов</label>
        </p>
    </div>

    <!-- Фильтр по категориям -->
    <div class="filter-section">
        <h3>Категория</h3>
        <select id="category" name="category">
            <option value="">Все категории</option>
            {% for cat in category %}
            {% if current_category == cat.title %}
            <option value="{{ cat.title }}" selected>{{ cat.title }}</option>
            {% else %}
            <option value="{{ cat.title }}">{{ cat.title }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Применить фильтры</button>
    <a href="{% url 'shop:index' %}" class="btn btn-secondary">Сбросить фильтры</a>
</form>
{% endblock %}