{% extends 'base.html'%}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}
<img src="{{ course.image.url }}" alt="{{ course.title }}" width="500" style="margin-top: 20px;">
<h1 class="mt-5">{{ course.title }}</h1>
<h2>{{ course.category }}</h2>

<p>Price: {{ course.price }}</p>
<p>Students Quantity: {{ course.students_qty}}</p>

{% if user.is_authenticated %}
<a href="{% url 'shop:buy_course' course.id %}" class="btn btn-success">Купить</a>
{% else %}
<a href="{% url 'users:login' %}?next={% url 'shop:single_course' course.slug %}" class="btn btn-primary">Купить</a>
{% endif %}

{% endblock %}